/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
  width: 100%;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

div {
    margin: 1rem 0 1rem;
}

.title {
    margin-bottom: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  height: 14rem;
  width: 14.625rem;
}

.start-game {
    margin: 1rem 0 1rem;
}

.enter-names button {
  width: 100%;
}

.input-group {
  margin-bottom: 1rem;
}

.displayWinner{
    border: 1px solid black;
    padding: 0.813rem;
    border-radius: 6px;
    text-align: center;
}

#scoreboard h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.hidden {
  display: none;
}